body {
    margin: 0;
    background:white no-repeat center center fixed;
    background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 160px;
    background-color: #ffffff;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: black;
    padding: 8px 8px;
    text-decoration: none;
}

li a.active {
    background-color: #04AA6D;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555555;
    color: white;
}

div.centre {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: 
    auto 1fr auto;
}
header.head{
    text-decoration: #04AA6D;
    background: red;
    background-color: red;
}
main.centro{
    background: #04AA6D;
    background-color: #04AA6D;
}
footer.pie{
    background: aqua;
    background-color: aqua;
}