body {
    margin: 0;
    background:white no-repeat center center fixed;
    background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 160px;
    background-color: #ffffff;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: black;
    padding: 8px 8px;
    text-decoration: none;
}

li a.active {
    background-color: #04AA6D;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555555;
    color: white;
}

div.centre {
    margin-left: 170px;
    margin-top: 10px;
    padding: 15px;
    height: 680px;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 40px;
    width: 50%;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}
header{
    background: red;
}
main{
    background: #04AA6D;
}
footer{
    background: aqua;
}